.book{
  width: 90%;
  margin: 0 auto;
  background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white,.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  @include respond(tab-land){
    background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white,.9) 65%, transparent 65%), url(../img/nat-10.jpg);
    background-size: cover;
  }
  @include respond(tab-port){
    background-image: linear-gradient(to right, rgba($color-white, .9), rgba($color-white,.9)), url(../img/nat-10.jpg);
    background-size: cover;
  }
  &__form{
    width: 50%;
    padding: 6rem;
    @include respond(tab-land){
      width: 65%;
    }
    @include respond(tab-port){
      width: 100%;
    }
  }
}

.form{
  &__group:not(:last-child){
    margin-bottom: 2rem;
  }

  &__input{
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    background-color: rgba($color-white, .9);
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    
    transition: all .6s;
    @include respond(phone){
      width: 90%;
    }

    &:focus{
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primery;

      &:invalid{
        border-bottom: 3px solid $color-secondary-dark;
      }
    }
    
    &::-webkit-input-placeholder{
      color: $color-dark-grey-2;
    }
  }

  &__label{
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    margin-top: .7rem;
    margin-left: 2rem;
    transition: all .4s;
  }

  &__input:placeholder-shown + &__label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }



  &__radio-group{
    width: 49%;
    display: inline-block;
    @include respond(phone){
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input{
    display: none;
  }

  &__radio-label{
    font-size: 1.6rem;
    padding-left: 4rem;
    position: relative;
    cursor: pointer;
  }

  &__radio-btn{
    width: 3rem;
    height: 3rem;
    border: 5px solid $color-primery;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -0.5rem;
    left: 0;

    &::after{
      content: "";
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      background-color: $color-primery;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .3s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-btn::after{
    opacity: 1;
  }
}