.u-text-center{
  text-align: center !important;
}
.u-text-margin-botoom-8{
  margin-bottom: 8rem !important;
  @include respond(tab-port){
    margin-bottom: 6rem !important;
  }
}
.u-text-margin-botoom-6{
  margin-bottom: 6rem !important;
  @include respond(tab-port){
    margin-bottom: 4rem !important;
  }
}
.u-text-margin-botoom-4{
  margin-bottom: 4rem !important;
  @include respond(tab-port){
    margin-bottom: 3rem !important;
  }
}
.u-margin-botoom-1-5{
  margin-bottom: 1.5rem !important;
}